<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <connectionStrings>
    <add name="CompanyDB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLOCALDB;Initial Catalog=CompanyDB;Integrated Security=True;"/>
  </connectionStrings>
</Configuration>
